body {
  font-family: sans-serif;
  background-color: darkgray;
}

button {
  padding: 10px 20px;
  background-color: lightblue;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 10px;
}

button:hover {
  background-color: skyblue;
}
